@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

- Mobile: 375px
- Desktop: 1440px

/* Colors */

/* Primary */

/* Text */

.pale-violet { color: hsl(276, 100%, 81%); } /* (sub-heading at the top of the app UI) */
.moderate-violet { hsl(276, 55%, 52%); } /* (chat on the left) */
.desaturated-dark-violet { hsl(271, 15%, 43%); } /* (chat on the right) */
.grayish-blue { hsl(206, 6%, 79%); } /* (placeholder text) */
.very-dark-desaturated-violet { hsl(271, 36%, 24%); } /* (main heading) */
.dark-grayish-violet { hsl(270, 7%, 64%); } /* (paragraph) */

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
