:root {
    --font-url: 'https:fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap';

    /* Breakpoints */
    --mobile: 375px;
    --desktop: 1440px;

    /* Typography */
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    /* Units */

    --left-message-border-radius: 10px 10px 10px 4px;
    --right-message-border-radius: 10px 10px 4px 10px;

    /* Body sizing and font */
    --body-padding: 0;
    --body-font-family: 'Rubik', sans-serif;
    --body-font-size: 1rem;

    /* Colors */
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /* Gradients */
    --background-gradient: radial-gradient(circle at 10% 100%, hsl(264, 100%, 61%) 15%, hsl(293, 100%, 63%)) 85%;
    --message-gradient: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    --header-gradient: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));

    /* Secondary */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --medium-grayish-violet: hsl(270, 40%, 92%);
    --very-dark-desaturated-violet-secondary: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

    /* Attribution */
    --attribution-font-size: 11px;
    --attribution-text-align: center;
    --attribution-link-color: hsl(228, 45%, 44%);
}


@import var(--font-url);

html,
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--dark-grayish-violet);
}

h1 {
    color: var(--very-dark-desaturated-violet);
    font-weight: 500;
    font-size: 2.65rem;
    letter-spacing: -.8px;
    margin-block-start: .6em;
    margin-block-end: .55em;
}

h2 {
    color: var(--very-dark-desaturated-violet);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -.65px;
    margin-block-start: .6em;
    margin-block-end: .6em;
}

h3 {
    color: var(--white);
    font-weight: 500;
    font-size: .7rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    color: var(--white);
    font-weight: 400;
    font-size: .6rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    letter-spacing: .2px;
    line-height: 1.8;
}

.pale-violet {
    color: var(--pale-violet);
}

.moderate-violet {
    color: var(--moderate-violet);
}

.desaturated-dark-violet {
    color: var(--desaturated-dark-violet);
}

.grayish-blue {
    color: var(--grayish-blue);
}

.very-dark-desaturated-violet {
    color: var(--very-dark-desaturated-violet);
}

.dark-grayish-violet {
    color: var(--dark-grayish-violet);
}

.background-gradient {
    background: var(--background-gradient);
}

.white {
    color: var(--white);
}

.light-grayish-violet {
    color: var(--light-grayish-violet);
}

.very-dark-desaturated-violet-secondary {
    color: var(--very-dark-desaturated-violet-secondary);
}

.very-light-magenta {
    color: var(--very-light-magenta);
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.page-background {
    position: absolute;
    background-color: var(--white);
    /* background: var(--white) url('design/desktop-design.jpg') no-repeat top left/cover; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
}

.page-background-shape {
    position: absolute;
    background: var(--background-gradient);
    height: 100vh;
    width: 500px;
    border-bottom-left-radius: 260px;
    border-bottom-right-radius: 270px;
}

#background-shape-1 {
    top: -12vh;
    left: -71px;
}

#background-shape-2 {
    opacity: .035;
    bottom: -15vh;
    right: -170px;
    transform: rotate(180deg);
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 10;
}

.col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
    padding: .8rem;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
    position: relative;
    top: 2.5%;
    left: 2px;
    width: 100%;
    max-width: 64%;
}

/* Phone-graphic styles */

phone {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 495px;
    width: 251px;
    margin-top: 49px;
    margin-right: 100px;
    border-radius: 1.8rem;
    box-shadow: 0 8px 50px 10px rgba(0, 0, 0, 0.2);
}

.phone-inner-wrapper {
    position: relative;
    background: var(--light-grayish-violet);
    height: 100%;
    border: 10px solid var(--white);
    border-radius: 1.8rem;
    overflow: hidden;
}

.notch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    height: 20px;
    width: 58%;
    border-radius: 0 0 1rem 1rem;
}

.phone-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--header-gradient);
    color: var(--white);
    padding: 1.9rem .55rem .8rem;
    border-radius: .3rem;
}

.phone-header span {
    margin: auto .19rem;
}

.phone-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .6rem .45rem;
}

.message {
    position: relative;
    display: inline-block;
    font-size: .5rem;
    padding: .4rem .45rem;
    margin-bottom: .5rem;
    line-height: 1.4;
    letter-spacing: .2px;
}

.left {
    margin: 0;
}

.left .message {
    color: var(--moderate-violet);
    background: var(--medium-grayish-violet);
    max-width: 53%;
    border-radius: var(--left-message-border-radius);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--desaturated-dark-violet);
    max-width: 64%;
    margin: .5rem 0 .5rem auto;
}

.right .message {
    position: relative;
    align-self: flex-end;
    max-width: 84%;
    border-radius: var(--right-message-border-radius);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
}

.price-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .5rem;
    color: var(--white);
    background: var(--message-gradient);
    padding: .6rem 1rem .5rem .45rem;
    margin-bottom: .55rem;
    max-width: 64%;
    border-radius: var(--left-message-border-radius);
}

.price-option-desc {
    flex: 1 1 auto;
    margin: auto .5rem;
    font-weight: 500;
}

.price-option-price {
    font-weight: 500;
    font-size: .8rem;
    text-align: right;
}

.price-option input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1.5px solid var(--very-light-magenta);
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    outline: none;
    background-color: transparent;
}

.dog_images {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    margin-bottom: 0.5rem;
}

.dog_images img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.chat-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.chat-input input[type="text"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 25px;
    background: var(--white);
    padding: .6rem 1.2rem;
    width: 100%;
}

.chat-input::after {
    content: '\f138';
    font: var(--fa-font-solid);
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    color: var(--very-dark-desaturated-violet);
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
 }

 .chat-input input[type="text"]::placeholder {
    color: var(--grayish-blue);
    font-weight: 500;
    font-size: .55rem;
    letter-spacing: .2px;
}

.attribution {
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
    font-size: var(--attribution-font-size);
    text-align: var(--attribution-text-align);
    align-items: center;
}

.attribution a {
    color: var(--attribution-link-color);
}